.text-shadow {
    text-shadow: .125rem .125rem .125rem rgba(0, 0  0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 2.625rem;
}